footer {
    margin: 2rem 0 .5rem 0;
    text-align: center;
    padding: 20px;
}

footer hr {
    border: none;
    height: 2px;
    background: #f76d17;
    margin: 2rem 1.7rem;
}

.logo img {
    height: 7rem;
    width: auto;
}

p {
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    footer hr {
        margin: 1.5rem 0;
    }

    .logo img {
        height: 5rem;
    }

    p {
        font-size: .9rem;
    }
}