* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    min-height: 100vh;
}

.drop-zone {
    width: 90%;
    height: 20vh;
    margin: 0 auto;
    border: .11rem dashed #8043db;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #7338cd;
    background-color: #f0f0f0;

}